<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <script type="module">
        import user_id from "/js/user_check.js"
        user_id();
    </script>
</head>
<body>
    <header></header>
    <main>
        <div class="games">
            <h3>Вам доступно 2 игры</h3>
            <a href="../games/1">Легкая игра</a>
            <a href="../games/2">Сложная игра</a>  
        </div>
    </main>
</body>
</html>