<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <main>
        <a href="./" target="_blank"><img src="http://qrcoder.ru/code/?https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DdQw4w9WgXcQ&4&0" width="164" height="164" border="0" title="QR код"></a>
    </main>
    <style>
        a{
            width: 200px;
            height: 200px;
            backdrop-filter: blur(0px);
            background-color: rgba(0, 0, 0, 0);
        }
    </style>
</body>
</html>