<link rel="stylesheet" href="css/main.css">
<h2>Smart Retail</h2>
<div class="main__block">
    <img class="main__img" src="/images/shop.jpg" alt="supermarket">
    <h4>Зарегестрируйтесь и получайте скидки и акции, играя.</h4>
</div>